.table-and-image-container {
    display: flex;
    }
.left-side {
    flex: 1;
    margin-right: 20px;
}
.right-side {
    flex: 1;
    margin-left: 20px;
}
.lined-table {
    border-collapse: collapse;
    width: 80%;
    }

.lined-table th, .lined-table td {
    border: 1px solid blue;
    padding: 8px;
    }

.description-paragraph {
    margin-bottom: 10px;
    text-align: left;
    width: 80%;
    word-break: break-word;
    }

.image-restriction {
    display:block;
    margin: auto 0;
    max-width: 300px;
    max-height: 200px;
}

.form-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: dodgerblue;
  }
    